*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
}

#scoreboard{
    color: wheat;
}

img{
    height: 40px;
    width: 40px;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(217, 217, 217, 1);
}