*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.contenedor{
    background-color: yellow;
    height: 80%;
    width: 50%;
}